<!DOCTYPE html>
<html>
    
    <head>
       <style> body{ background-image: linear-gradient(to right, #46e3ff, #1367c7, #690ca7, rgb(223, 16, 250)) } 
    
    </style>
        <title>  Football App - {{ title }}</title>
    </head>
    <body>
        
        <navbar>
            <a href="/">Home</a> 
            <a href="/create_player">Add New Player</a>
        </navbar>
        <h1>
            Football App - {{ title }}
        </h1>
        {% block body %}
        {% endblock body %}
        
    </body>
</html>